In [1]:
import subprocess
import pandas as pd
import os

In [2]:
sra = [
# "SRR2047523",
# "SRR2047524",
# "SRR2047525",
# "SRR2047526",
# "SRR2047527",
# "SRR2047528",
# "SRR2047529",
# "SRR2047530",
# "SRR2047531",
"SRR2047532",
"SRR2047533",
"SRR2047534",
"SRR2047535",
"SRR2047536",
"SRR2047537",
"SRR2047538",
"SRR2047539",
"SRR2047540"
]

In [ ]:
for item in sra:
    try:
        command =["nextflow", "run", "main.nf", "--accession", item]
        subprocess.run(command)
    except:
        pass

curl: (6) Could not resolve host: www.nextflow.io

 N E X T F L O W   ~  version 24.10.5

Launching `main.nf` [hungry_angela] DSL2 - revision: 37f8ea6a63

[-        ] Download      -
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -

executor >  local (1)
[0d/62721f] Download      | 0 of 1
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -

executor >  local (1)
[0d/62721f] Download      | 0 of 1
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -
ERROR ~ Error executing process > 'Download'

Caused by:
  Process `Download` terminated with an error exit status (3)


Command executed:

  prefetch "SRR2047532"

Command exit status:
  3

Command output:
  2025-04-01T14:08:43 prefetch.3.2.0: 1) Resolving 'SRR2047532'...
  2025-04-01T14:09:45 prefetch.3.2.0: 1) Failed to resolve 'SRR2047532'...

Command error:
  2025-04-01T14:08:43 prefetch.3.2.0: 1) Resolving 'SRR2047532'...
  2025-04-01T14:09:45 prefetch.3.2.0 int: connection busy while creating file within network system module - cannot resolve remote location of 'SRR2047532'
  2025-04-01T14:09:45 prefetch.3.2.0: 1) Failed to resolve 'SRR2047532'...

Work dir:
  /home/tiago/documents/rnaseq-pipe/work/0d/62721fe92c768e8c61baeb3ce88587

Tip: view the complete command output by changing to the process work dir and entering the command `cat .command.out`

 -- Check '.nextflow.log' file for details

executor >  local (1)
[0d/62721f] Download      | 1 of 1, failed: 1 ✘
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -
ERROR ~ Error executing process > 'Download'

Caused by:
  Process `Download` terminated with an error exit status (3)


Command executed:

  prefetch "SRR2047532"

Command exit status:
  3

Command output:
  2025-04-01T14:08:43 prefetch.3.2.0: 1) Resolving 'SRR2047532'...
  2025-04-01T14:09:45 prefetch.3.2.0: 1) Failed to resolve 'SRR2047532'...

Command error:
  2025-04-01T14:08:43 prefetch.3.2.0: 1) Resolving 'SRR2047532'...
  2025-04-01T14:09:45 prefetch.3.2.0 int: connection busy while creating file within network system module - cannot resolve remote location of 'SRR2047532'
  2025-04-01T14:09:45 prefetch.3.2.0: 1) Failed to resolve 'SRR2047532'...

Work dir:
  /home/tiago/documents/rnaseq-pipe/work/0d/62721fe92c768e8c61baeb3ce88587

Tip: view the complete command output by changing to the process work dir and entering the command `cat .command.out`

 -- Check '.nextflow.log' file for details


 N E X T F L O W   ~  version 24.10.5

Launching `main.nf` [serene_spence] DSL2 - revision: 37f8ea6a63

[-        ] Download      -
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -

executor >  local (1)
[8a/89912d] Download      | 0 of 1
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -

executor >  local (1)
[8a/89912d] Download      | 0 of 1
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -
ERROR ~ Error executing process > 'Download'

Caused by:
  Process `Download` terminated with an error exit status (3)


Command executed:

  prefetch "SRR2047533"

Command exit status:
  3

Command output:
  2025-04-01T14:09:47 prefetch.3.2.0: 1) Resolving 'SRR2047533'...
  2025-04-01T14:10:49 prefetch.3.2.0: 1) Failed to resolve 'SRR2047533'...

Command error:
  2025-04-01T14:09:47 prefetch.3.2.0: 1) Resolving 'SRR2047533'...
  2025-04-01T14:10:49 prefetch.3.2.0 int: connection busy while creating file within network system module - cannot resolve remote location of 'SRR2047533'
  2025-04-01T14:10:49 prefetch.3.2.0: 1) Failed to resolve 'SRR2047533'...

Work dir:
  /home/tiago/documents/rnaseq-pipe/work/8a/89912d5f7e13e924c511e51a0eda99

Tip: you can try to figure out what's wrong by changing to the process work dir and showing the script file named `.command.sh`

 -- Check '.nextflow.log' file for details

executor >  local (1)
[8a/89912d] Download      | 1 of 1, failed: 1 ✘
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -
ERROR ~ Error executing process > 'Download'

Caused by:
  Process `Download` terminated with an error exit status (3)


Command executed:

  prefetch "SRR2047533"

Command exit status:
  3

Command output:
  2025-04-01T14:09:47 prefetch.3.2.0: 1) Resolving 'SRR2047533'...
  2025-04-01T14:10:49 prefetch.3.2.0: 1) Failed to resolve 'SRR2047533'...

Command error:
  2025-04-01T14:09:47 prefetch.3.2.0: 1) Resolving 'SRR2047533'...
  2025-04-01T14:10:49 prefetch.3.2.0 int: connection busy while creating file within network system module - cannot resolve remote location of 'SRR2047533'
  2025-04-01T14:10:49 prefetch.3.2.0: 1) Failed to resolve 'SRR2047533'...

Work dir:
  /home/tiago/documents/rnaseq-pipe/work/8a/89912d5f7e13e924c511e51a0eda99

Tip: you can try to figure out what's wrong by changing to the process work dir and showing the script file named `.command.sh`

 -- Check '.nextflow.log' file for details

curl: (6) Could not resolve host: www.nextflow.io
curl: (6) Could not resolve host: www.nextflow.io

 N E X T F L O W   ~  version 24.10.5

Launching `main.nf` [scruffy_ritchie] DSL2 - revision: 37f8ea6a63

[-        ] Download      -
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -

executor >  local (1)
[5b/9b34d5] Download      | 0 of 1
[-        ] Dump          -
[-        ] Trim          -
[-        ] Star          -
[-        ] FeatureCounts -

In [ ]:
def PrepareData(path):
    df = pd.read_csv(path, sep = "\t", skiprows=1)
    df.rename(columns={
        df.columns[-1]:df.columns[-1].split(".")[0]
    }, inplace = True)
    return df[["Geneid",df.columns[-1].split(".")[0]]]

In [ ]:
SrrBase = PrepareData("Data/SRR2047523.fastq_trimmed.fastq_Aligned.sortedByCoord.out.bam_counts.txt")
SrrBase = SrrBase[["Geneid"]]

In [ ]:
SrrBase

       Geneid
0          g1
1          g2
2          g3
3          g4
4          g5
...       ...
13340  g13341
13341  g13342
13342  g13343
13343  g13344
13344  g13345

[13345 rows x 1 columns]

In [ ]:
for i in os.listdir("Data"):
    df = PrepareData(os.path.join("Data",i))
    SrrBase = SrrBase.merge(df, on = "Geneid")

In [ ]:
SrrBase

,Geneid,SRR2047524,SRR2047523,SRR2047526,SRR2047525,SRR2047530,SRR2047531
0,g1,48,44,36,68,44,41
1,g2,14,13,7,36,6,18
2,g3,33,28,25,26,23,29
3,g4,25,29,25,31,31,35
4,g5,18,21,17,17,25,14
...,...,...,...,...,...,...,...
13340,g13341,42,76,78,102,76,64
13341,g13342,150,141,130,219,144,174
13342,g13343,35,25,34,56,28,61
13343,g13344,0,0,0,0,0,0
13344,g13345,0,0,0,0,0,0

In [ ]:
SrrBase.describe()

,SRR2047524,SRR2047523,SRR2047526,SRR2047525,SRR2047530,SRR2047531
count,13345.000000,13345.000000,13345.000000,13345.000000,13345.000000,13345.000000
mean,1079.211165,1046.341926,1100.707156,1562.208093,1076.052379,1109.994455
std,4273.193505,4695.411965,4939.893295,6612.688374,4846.049474,4404.374373
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,8.000000,8.000000,11.000000,8.000000,7.000000
50%,208.000000,192.000000,206.000000,287.000000,199.000000,214.000000
75%,888.000000,806.000000,846.000000,1221.000000,827.000000,915.000000
max,214578.000000,194852.000000,204617.000000,304960.000000,201711.000000,222531.000000